.user-i {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 30%;
  left: 35%;
  z-index: 1;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#close-btn {
  padding: 5px 20px;
  font-size: 30px;
  font-weight: bold;
  margin-left: 250px;
}

#close-btn:hover {
  cursor: pointer;
}

#profile-n,
#url-q {
  width: 80%;
  height: 40px;
  font-size: 16px;
  text-align: center;
  border: 1px solid;
  outline: none;
  border-radius: 20px;
  text-wrap: wrap;
  padding: 0 10px;
  text-decoration: none;
}

#create-btn {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-left: 200px;
  background-color: #021518;
  color: #fff;
  font-weight: bold;
}

#create-btn:hover {
  cursor: pointer;
  background-color: red;
  font-weight: bold;
}
